.buttons {
	margin-top: 5px;
}
.smartbutton {
	padding: 4px 5px;
	border: 1px Solid #00C;
	background-color: #5F5FDA;
	display: table;
	margin-bottom: 5px;
	min-height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	margin-right: 5px;
}
.inner-txt{
	display: table-cell;
	vertical-align: middle;
}
#message {
	color: #F00;
	display: block;
}
.buttons {
	display: flex;
	text-align: center;
}